@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hero section cover image */

  .para-1:first-child::first-letter {
    color: rgb(111, 110, 109);
    padding: 0 .2rem;
    margin: 0 .3rem 0 0;
    border: 1px solid;
    border-radius: 8px;
    font-family: "IBM Plex Mono", monospace;
  
    font-size: 4rem;
    float: left;
    line-height: 1;
  }